.header{
  background: url('../../../assets/common/top-bg.jpg');
  background-size: cover;
  .avatar{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .descript{
    text-align: center;
  }
}