.home{
  transition: all .3s ease-out;
  animation: fadeInRight 2.5s;
  .canvas{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .main{
    color: #fff;
    text-align: center;
    padding-top:270px;
    .avatar{
      // margin-bottom: 20px;
      // width: 60px;
      // height: 60px;
      // border-radius: 50%;
      // overflow: hidden;
    }
    h1{
      font-weight: normal;
      font-size: 28px;
    }
    .desc{
      margin: 20px 0 60px;
      font-size: 20px;
      padding: 0 25px;
    }
    .link{
      display: inline-block;
      a{
        border: 1px solid #fff;
        display: inline-block;
        margin-right: 8px;
        padding: 4px 10px;
        color: #fff;
        border-radius: 4px;
        &:last-child{
          margin-left: 8px;
          margin-right: 0;
        }
      }      
    }
    @media screen and (max-width: 650px) {
      padding-top: 320px;
    }
    @media screen and (max-width: 414px) {
      padding-top: 120px;
    }
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}